* {
  margin: 0;
}

video {
  width: 100%;
  height: auto;
  background-size: cover;
  margin-bottom: 10%;
}

/* @media (min-aspect-ratio: 16/9) {
  video {
    width: 100%;
    height: auto;
  }
}

@media (max-aspect-ratio: 16/9) {
  video {
    width: auto;
    height: 100%;
  }
} */

img {
  display: block;
  width: 100%;
  height: auto;
}

h2 {
  color: white;
  margin: 5%;
}

p {
  color: white;
  margin: 5%;
  padding-bottom: 10%;
}

.Forside_topSection {
  margin-top: 10%;
}
.Forside_rightSide_midSection_text p {
  padding-top: 10%;
}

.Forside_rightSide_midSection_img {
  margin-bottom: 10%;
}

.Forside_bottomSection {
  margin-top: 10%;
}
.Forside_tekst_topSection a {
  text-decoration: none;
}
.Forside_tekst_topSection a {
  color: white;
}

/* 586 PIXEL SKIFTER HEADER tekst */
@media (min-width: 600px) {
  .Forside_midSection {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 10px;
    margin-left: 10vw;
    margin-right: 10vw;
  }

  .Forside_leftSide_midSection_text {
    grid-column: 2;
    grid-row: 1;
  }

  .Forside_leftSide_midSection_text p {
    margin-left: 0.5rem;
  }

  .Forside_leftSide_midSection_img {
    grid-column: 1;
    grid-row: 1;
  }

  .Forside_rightSide_midSection_text {
    margin-top: -3rem;
    grid-column: 1;
    grid-row: 2;
  }

  .Forside_rightSide_midSection_img {
    grid-column: 2;
    grid-row: 2;
  }
}

@media (min-width: 800px) {
  video {
    display: block;
    background-size: cover;
    max-width: 80%;
    margin-left: 10vw;
    box-shadow: 5px 10px 10px 8px rgba(0, 0, 0, 0.2);
  }

  h2 {
    padding-top: 0%;

    color: white;
  }

  p {
    color: white;
    margin: 0%;
    padding-bottom: 0%;
    font-size: 15px;
  }

  .Forside_topSection {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 30px;
    margin-left: 10vw;
    margin-right: 10vw;
    margin-bottom: 6rem;
  }

  .Forside_tekst_topSection {
    grid-column: 1/4;
  }
  .Forside_tekst_topSection h2 {
    margin-left: 0;
    margin-top: 20%;
  }

  .Forside_billede_topSection {
    grid-column: 4/8;
  }

  .Forside_midSection {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: 2fr 1fr 2fr;
    gap: 30px;
    margin-left: 10vw;
    margin-right: 10vw;
  }

  .Forside_leftSide_midSection_text {
    grid-column: 5/8;
    grid-row: 1;
  }

  .Forside_leftSide_midSection_text p {
    margin-left: 0.5rem;
  }

  .Forside_leftSide_midSection_img {
    grid-column: 1/4;
    grid-row: 1/3;
  }

  .Forside_rightSide_midSection_text {
    margin-top: -3rem;
    grid-column: 1/4;
    grid-row: 3;
  }

  .Forside_rightSide_midSection_img {
    grid-column: 5/8;
    grid-row: 2/4;
  }

  .Forside_bottomSection {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    gap: 30px;
    margin-left: 3rem;
    margin-right: 3rem;
    margin-bottom: 10%;
  }
  .Forside_bottomSection h2 {
    margin-left: 3rem;
  }
  #Forside_bottomSection_leftImage {
    grid-column: 1/5;
  }

  #Forside_bottomSection_rightImage {
    grid-column: 5/9;
  }
}
