/* mobile-first */

body {
  background-image: linear-gradient(#35524a, #23281b, #0e100b);
  background-size: cover;
}
img {
  display: block;
  width: 100%;
  height: auto;
}

h1 {
  /* font-family: Hoefler Text (skal downloades); */
  font-size: 50px;
}
h2 {
  /* font-family: Optima (skal downloades); */
  font-size: 35px;
}
h3 {
  /* font-family: Optima (skal downloades); */
  font-size: 25px;
}
p {
  /* font-family: Montserrat (skal downloades); */
  font-size: 16px;
}

/* web-format */
@media (min-width: 600px) {
  h1 {
    font-size: 180px;
  }
  h2 {
    font-size: 70px;
  }
  h3 {
    font-size: 40px;
  }
  p {
    font-size: 25px;
  }
}
