* {
  margin: 0;
  box-sizing: border-box;
  top: 0;
}

@font-face {
  font-family: Hoefler Text;
  src: url(webfontkit-20210601-064621/hoefler_text_regular-webfont.woff2);
}
@font-face {
  font-family: Optima;
  src: url(webfontkit-optima/unicode.optima-webfont.woff2);
}

/* mobile-first */

html {
  height: 100%;
  background-image: linear-gradient(#35524a, #23281b, #0e100b);
  background-size: cover;

  /* Løsning fundet på stackoverflow https://stackoverflow.com/questions/2869212/css3-gradient-background-set-on-body-doesnt-stretch-but-instead-repeats */

  /* Sørger for at der kun blive vist en enkel gradient der dækker 100% af siden height */
  background-repeat: no-repeat;
  /* Sørger for at baggrunden ikke følger med scroll, men forbliver en fixed størrelse */
  background-attachment: fixed;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

/*********** Header ***********/

/* .h1Container {
  display: flex;
} */

/*.... Burger menu..*/

/* Løsning fundet på: https://www.w3schools.com/howto/howto_css_menu_icon.asp */

#burger_knap {
  position: absolute;
  top: 0.75rem;
  right: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
}

.bar1,
.bar2,
.bar3 {
  width: 35px;
  height: 5px;
  background-color: white;
  margin: 4px 0;
  transition: 0.4s;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #202020;
  color: white;
}

.brand_title {
  font-size: 1.5rem;
  margin: 0.5rem;
}

.navbar_links ul {
  margin: 0;
  padding: 0;
  display: flex;
}

.navbar_links li {
  list-style: none;
  font-size: 1.5rem;
}

.navbar_links li a {
  text-decoration: none;
  color: white;
  padding: 1rem;
  display: block;
}

#burger_knap {
  position: absolute;
}
#burger_knap p {
  font-size: 11px;
}

/* .hidden {
  display: none;
  transform: translateY(100%);
} */

#menu {
  transition: transform 0.3s;
  transform-origin: top;
}

.navbar ul li {
  display: inline-block;
  margin: 0 20px;
  position: relative;
}

h1 {
  font-size: 40px;
  background-image: linear-gradient(
    to right,
    #ada9a4,
    #c4c4c3,
    #d3b9a2,
    #f4b888,
    #ed9f72,
    #a6654e
  );
  background-size: 100%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-left: 20px;
}

/********* Tekst ***************/

h1 {
  font-family: Hoefler Text;
  font-size: 45px;
  color: white;
}
h2 {
  font-family: Optima;
  font-size: 35px;

  color: white;
}
h3 {
  font-family: Optima;
  font-size: 25px;
  margin: 5%;
  color: white;
}
h4 {
  font-family: "Montserrat", sans-serif;
  margin: 5%;
  color: white;
}
p {
  font-family: "Montserrat", sans-serif;
  font-size: 15px;
  /* margin: 5%; */
  color: white;
}

/* ............dropdown-menu.......... */

/****************** Footer ********************/

footer h2 {
  font-size: 18px;
  text-decoration: underline white;
  color: white;
}
footer h3 {
  font-size: 14px;
  color: white;
}
footer h4 {
  font-size: 12px;
  color: white;
}

footer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  background-color: #202020;
}
.kontakt_wrapper {
  margin: 0 auto;
}

.socialmedia_wrapper {
  margin: 0 auto;
  white-space: nowrap;
}

#logo img {
  max-width: 2rem;
}

#logo {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

footer h3,
h4 {
  color: white;
}

/* @media */

@media (min-width: 600px) {
  .dropdown-content {
    top: 14vw;
  }
}

@media (max-width: 800px) {
  #burger_knap {
    display: flex;
  }

  .navbar_links {
    width: 100%;
    display: none;
  }

  .skjult {
    display: flex;
  }

  .navbar_links li {
    text-align: center;
  }

  .navbar {
    flex-direction: column;
    align-items: flex-start;
  }

  .navbar_links ul {
    width: 100%;
    flex-direction: column;
  }

  /* #menu.hidden {
    width: 100%;
  } */

  .navbar_links.active {
    width: 100%;
    display: flex;
  }

  .dropdown-content {
    display: flex;
    flex-direction: column;
  }

  .dropdown-content li a {
    font-size: 15px;
  }

  .dropdown-content li :hover {
    background-color: #3a3939;
  }

  .dropbtn {
    display: flex;
    justify-content: center;
    left: 50vw;
  }

  .dropdown .dropbtn {
    font-size: 20px;
    border: none;
    outline: none;
    color: white;
    padding: 0px 0px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
  }
}

@media (min-width: 800px) {
  #burger_knap {
    display: none;
  }

  /* #menu.hidden {
    transform: translateX(0);
    opacity: 1;
  }

  .navbar_links ul {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
  }

  .navbar_links li {
    list-style: none;
    font-size: 1.5rem; */
}

@media (min-width: 800px) {
  header {
    height: 20vh;
  }
  h1 {
    font-size: 110px;
  }
  h2 {
    font-size: 45px;
  }
  h3 {
    font-size: 35px;
  }

  p {
    font-size: 15px;
  }
  footer h2 {
    font-size: 30px;
  }
  footer h3 {
    font-size: 20px;
  }
  footer h4 {
    font-size: 15px;
  }

  #logo img {
    max-width: 3rem;
  }

  #logo {
    display: flex;
    flex-direction: row;
    gap: 35px;
  }

  .dropdown {
    float: left;
    overflow: hidden;
    display: flex;
    justify-content: center;
  }
  .dropdown .dropbtn {
    font-size: 20px;
    border: none;
    outline: none;
    color: white;
    padding: 0px 0px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
  }

  .navbar a:hover,
  .dropdown:hover .dropbtn {
    background-color: #202020;
    cursor: pointer;
  }

  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #1f1f1f;
    min-width: 60px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    top: 8vw;
    right: 8vw;
  }

  .dropdown-content a {
    float: none;
    color: black;
    padding: 5px 5px;
    text-decoration: none;
    display: block;
    text-align: left;
  }

  .dropdown-content a:hover {
    background-color: #ddd;
    cursor: pointer;
  }

  .dropdown:hover .dropdown-content {
    display: flex;
    flex-direction: column;
  }

  /*.... Hover....*/

  .navbar ul li::after {
    content: "";
    height: 3px;
    width: 0;
    background: #fff;
    position: absolute;
    left: 0;
    bottom: -8px;
    transition: 0.4s;
  }

  .navbar ul li:hover::after {
    width: 100%;
  }

  .skjultUnderMenu {
    display: none;
  }
}
